@page "/account/register-confirmation"
@inherits RegisterConfirmationPageBase
@*@inject NavigationManager navigationManager
@inject AuthenticationStateProvider authStateProvider
@inject IStringLocalizer<Resource> L
@using BlazorApp.Client.Components.Validators


<div class="w-full h-full grid place-items-center">
    <MatCard class="
        flex flex-col items-center
        px-10
        pb-10
        mdc-card
    ">
        <svg class="bi mt-4 text-primary" width="32" height="32" fill="currentColor">
            <use xlink:href="bootstrap-icons.svg#envelope" />
        </svg>
        <h4 class="text-secondary text-center mt-4">@L["Please confirm your email"]</h4>

    </MatCard>
</div>*@