@page
@model LogoutModel
@{
    ViewData[index: "Title"] = "Log out";
}


<div class="w-full h-full grid place-items-center">
    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page(pageName: "/", values: new {area = ""})"
          method="post" class="
    flex flex-col items-center 
    px-10 pb-10
    mdc-card
">
        @* <svg class="bi" width="32" height="32" fill="currentColor">
            <use xlink:href="bootstrap-icons.svg#chat" />
            </svg> *@
        <h2 class="text-primary text-center mt-6">
            @ViewData[index: "Title"]
        </h2>
        @if (User.Identity.IsAuthenticated)
        {
            <button class="mdc-button mdc-button--raised bg-primary mt-5">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">Click here to Logout</span>
            </button>
        }
        else
        {
            <h3 class="text-primary-a700 mt-5">You have successfully logged out of the application.</h3>
        }
    </form>
</div>