@page
@model ResetPasswordConfirmationModel
@{
    ViewData[index: "Title"] = "Reset password confirmation";
}

<div class="w-full h-full grid place-items-center">
    <form method="post" class="
    flex flex-col items-center 
    px-10 pb-10
    mdc-card
">
        <svg class="bi mt-5 text-primary" width="32" height="32" fill="currentColor">
            <use xlink:href="bootstrap-icons.svg#check2"/>
        </svg>
        <h2 class="text-primary text-center mt-5">
            @ViewData[index: "Title"]
        </h2>
        <h3 class="text-secondary text-center mt-5">
            Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
        </h3>
    </form>
</div>