.asymetric-theme {
  --primary: #283593;
  --secondary: #9e9d24;
  --error: #f44336;
  --background: #eee;
  --surface: #fff;
}

.asymetric-theme .mdc-button {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.25rem;
}

.asymetric-theme .mdc-button .mdc-button__ripple {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.25rem;
}
