.tooltip-right::after,
.tooltip-bottom::after,
.tooltip-top::after,
.tooltip-left::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
}

.tooltip-right {
  top: -5px;
  left: 125%;
  /*    top: -5px;
    left: 105%;*/
}
.tooltip-right::after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-color: transparent #555 transparent transparent;
}

.tooltip-bottom {
  top: 135%;
  left: 50%;
  margin-left: -60px;
  /*    top: 125%;
    left: 50%;
    margin-left: -60px;*/
}
.tooltip-bottom::after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: transparent transparent #555 transparent;
}

.tooltip-top {
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  /*    bottom: 115%;
    left: 50%;
    margin-left: -60px;*/
}
.tooltip-top::after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: #555 transparent transparent transparent;
}

.tooltip-left {
  top: -5px;
  bottom: auto;
  right: 128%;
  /*    top: -5px;
    bottom: auto;
    right: 105%;*/
}
.tooltip-left::after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-color: transparent transparent transparent #555;
}

.tooltip {
  position: relative;
  /*display: inline-block;*/
  /*border-bottom: 1px dotted #ccc;*/
  color: #006080;
}
.tooltip:hover .tooltiptext-fade {
  visibility: visible;
  opacity: 1;
}
.tooltip:hover .tooltiptext,
.tooltip:hover .tooltiptext-fade-bottomarrow,
.tooltip:hover .tooltiptext-fade-toparrow,
.tooltip:hover .tooltiptext-fade-leftarrow,
.tooltip:hover .tooltiptext-fade-rightarrow {
  visibility: visible;
}
.tooltip .tooltiptext,
.tooltip .tooltiptext-fade {
  visibility: hidden;
  position: absolute;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
}
.tooltip .tooltiptext-fade {
  opacity: 0;
  transition: opacity 0.6s;
}
.tooltip .tooltiptext-fade-bottomarrow,
.tooltip .tooltiptext-fade-toparrow,
.tooltip .tooltiptext-fade-leftarrow,
.tooltip .tooltiptext-fade-rightarrow {
  visibility: hidden;
  width: 120px;
  background-color: #111;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}
.tooltip .tooltiptext-fade-bottomarrow::after,
.tooltip .tooltiptext-fade-toparrow::after,
.tooltip .tooltiptext-fade-leftarrow::after,
.tooltip .tooltiptext-fade-rightarrow::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 5px;
}
.tooltip .tooltiptext-fade-bottomarrow {
  bottom: 130%;
  left: 50%;
  margin-left: -60px;
}
.tooltip .tooltiptext-fade-bottomarrow::after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: black transparent transparent transparent;
}
.tooltip .tooltiptext-fade-toparrow {
  top: 150%;
  left: 50%;
  margin-left: -60px;
}
.tooltip .tooltiptext-fade-toparrow::after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: transparent transparent black transparent;
}
.tooltip .tooltiptext-fade-leftarrow {
  top: -5px;
  left: 110%;
}
.tooltip .tooltiptext-fade-leftarrow::after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-color: transparent black transparent transparent;
}
.tooltip .tooltiptext-fade-rightarrow {
  top: -5px;
  right: 110%;
}
.tooltip .tooltiptext-fade-rightarrow::after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-color: transparent transparent transparent black;
}
