.asymetric-theme {
  --primary: #283593;
  --secondary: #9e9d24;
  --error: #f44336;
  --background: #eee;
  --surface: #fff;
}
.asymetric-theme .mdc-button {
  border-top-left-radius: 12px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 4px;
}
.asymetric-theme .mdc-button .mdc-button__ripple {
  border-top-left-radius: 12px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 4px;
}
