.rounded-theme {
  --primary: #c62828;
  --secondary: #4dd0e1;
  --error: #673ab7;
  --background: #eee;
  --surface: #fff;
}

.rounded-theme .mdc-button {
  border-radius: 1.125rem;
}

.rounded-theme .mdc-button .mdc-button__ripple {
  border-radius: 1.125rem;
}
