.dark-square-theme {
  --primary: #90caf9;
  --secondary: #ffcc80;
  --error: #ef9a9a;
  --background: #263238;
  --surface: #37474f;
}
.dark-square-theme .mdc-top-app-bar {
  background-color: #37474f;
  color: white;
}
