version: '3.4'

services:
  rabbitmq:
    image: rabbitmq:3-management-alpine

  redis:
    image: redis:alpine

  seq:
    image: datalust/seq:latest

  sqldata:
    image: mcr.microsoft.com/mssql/server:2019-latest 

  zipkin:
    image: openzipkin/zipkin-slim


  auth.server:
    image: ${DOCKER_REGISTRY-}authserver
    build:
      context: .
      dockerfile: Apps/Auth/Server/Dockerfile
    ports:
      - "51000:50001"

  auth.server-dapr:
    image: "daprio/daprd:latest"
    command: [ "./daprd", "-app-id", "auth.server", "-app-port", "5001" ]
    depends_on:
      - auth.server
    network_mode: "service:auth.server"

  blazorapp.server:
    image: ${DOCKER_REGISTRY-}blazorappserver
    build:
      context: .
      dockerfile: Apps/SolidApp/Server/Dockerfile
    ports:
      - "41000:40001"

  blazorapp.server-dapr:
    image: "daprio/daprd:latest"
    command: [ "./daprd", "-app-id", "blazorapp.server", "-app-port", "4001" ]
    depends_on:
      - blazorapp.server
    network_mode: "service:blazorapp.server"


