@use "@material/top-app-bar";

.dark-square-theme {
    --primary: #90caf9;
    --secondary: #ffcc80;
    --error: #ef9a9a;
    --background: #263238;
    --surface: #37474f;

    .mdc-top-app-bar {
        @include top-app-bar.fill-color(#37474f);
        @include top-app-bar.ink-color(white);
    }
    // @use "@material/shape" with ( $small-component-radius: 10, $medium-component-radius: 10, $large-component-radius: 10, );

    // @use "@material/typography" with ( $font-family: unquote("Rubik, sans-serif"), $styles-button: ( font-size: 14px, font-weight: 500, letter-spacing: 0.05em, ), );
}
