@page
@model DownloadPersonalDataModel
@{
    ViewData[index: "Title"] = "Download Your Data";
    ViewData[index: "ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData[index: "Title"]</h4>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}