@page
@model IndexModel
@{
    ViewData[index: "Title"] = "Profile";
    ViewData[index: "ActivePage"] = ManageNavPages.Index;
}

<div class="w-full h-full grid place-items-center">
    <form method="post" class="
    flex flex-col items-center 
    px-10 pb-10
    mdc-card
    ">
        @* <svg class="bi" width="32" height="32" fill="currentColor">
            <use xlink:href="bootstrap-icons.svg#chat" />
        </svg> *@
        <h2 class="text-primary text-center mt-6">
            @ViewData[index: "Title"]
        </h2>
        @if (Model.StatusMessage != null)
        {
            <div class="flex items-center bg-success pr-5 rounded-xl">
                <button asp-page-handler="CloseStatusMessage" class="mdc-icon-button material-icons">close</button>
                <span class="align-middle"> @Model.StatusMessage </span>
            </div>
        }
        <hr/>
        <div asp-validation-summary="ModelOnly" class="text-error"></div>

        <div class="mt-5">
            <label class="
            mdc-text-field mdc-text-field--filled
            w-64
            ">
                <span class="mdc-text-field__ripple"></span>
                <input asp-for="Username" class="mdc-text-field__input" type="text" aria-labelledby="username" disabled>
                <span class="mdc-floating-label" id="username">Username</span>
                <span class="mdc-line-ripple"></span>
            </label>
            <div class="w-64">
                <span asp-validation-for="Username" class="text-error"></span>
            </div>
        </div>

        <div class="mt-5">
            <label class="
            mdc-text-field mdc-text-field--filled mdc-text-field--disabled
            w-64
            ">
                <span class="mdc-text-field__ripple"></span>
                <input asp-for="Input.PhoneNumber" class="mdc-text-field__input" type="text" aria-labelledby="phone-number">
                <span class="mdc-floating-label" id="phone-number">Phone Number</span>
                <span class="mdc-line-ripple"></span>
            </label>
            <div class="w-64">
                <span asp-validation-for="Input.PhoneNumber" class="text-error"></span>
            </div>
        </div>

        <div class="mt-5">
            <button class="mdc-button mdc-button--raised">
                <div class="mdc-button__ripple"></div>
                <span type="submit" class="
                mdc-button__label
                ">Save</span>
            </button>
        </div>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}