<div class="dropdown dropup fixed-bottom mr-5 mb-5">
    <button id="home-page-action-btn" class="
      btn btn-info rounded-circle float-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            style="width:60px;height:60px">
        <svg class="bi" width="32" height="32" fill="currentColor">
            <use xlink:href="bootstrap-icons.svg#pencil-square"/>
        </svg>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="home-page-action-btn">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <input class="form-control"/>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
</div>