@page
@model RegisterConfirmationModel
@{
    ViewData[index: "Title"] = "Register confirmation";
}

<div class="w-full h-full grid place-items-center">
    <form method="post" class="
    flex flex-col items-center 
    px-10
    pb-10
    mdc-card
    ">
        <svg class="bi mt-4 text-primary" width="32" height="32" fill="currentColor">
            <use xlink:href="bootstrap-icons.svg#envelope"/>
        </svg>
        <h2 class="text-primary text-center mt-5">@ViewData[index: "Title"]</h2>
        <h4 class="text-secondary text-center mt-4">Please confirm your email.</h4>
    </form>
</div>