<!DOCTYPE html>
<html>

<head>
    <title><%= htmlWebpackPlugin.options.title %></title>

    <link href="_content/Material.Blazor/Material.min.css" rel="stylesheet" />
    <link href="_content/Material.Blazor/MaterialBlazor.min.css" rel="stylesheet" />
    <%= htmlWebpackPlugin.tags.headTags %>
    <link href="BlazorApp.Client.styles.css" rel="stylesheet" />
</head>

<body>
    <div id="app" class="w-full h-full">Loading...</div>

    <div id="solid-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <%= htmlWebpackPlugin.tags.bodyTags %>
    <script src="_content/Material.Blazor/MaterialBlazor.min.js"></script>
    <script>
        MaterialBlazor.MBTooltip.numbers.HIDE_DELAY_MS = 0
    </script>
    <script src="_content/Microsoft.AspNetCore.Components.WebAssembly.Authentication/AuthenticationService.js"></script>
    <script src="_framework/blazor.webassembly.js"></script>
    <script>navigator.serviceWorker.register('service-worker.js');</script>
</body>

</html>
