
<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Heads", required: false)
  <script type="module" crossorigin src="~/assets/_Layout.cshtml.b6599193.js"></script>
  <link rel="stylesheet" href="~/assets/_Layout.cshtml.ed665f48.css">
</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", required: false)
    
</body>
</html>

