
<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Heads", required: false)
  <script type="module" crossorigin src="~/assets/_Layout.cshtml.e2908ca5.js"></script>
  <link rel="stylesheet" href="~/assets/_Layout.cshtml.29e2a0d2.css">
</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", required: false)
    
</body>
</html>

