
<!DOCTYPE html>
<html lang="en">
<head>
    













































    @RenderSection("Heads", required: false)
  <script async type="module" crossorigin src="~/assets/_Layout.cshtml.4be8b996.js"></script>
  <link rel="modulepreload" href="~/assets/vendor.e7b5bfbb.js">
  <link rel="stylesheet" href="~/assets/_Layout.cshtml.c8dcf213.css">
</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", required: false)

</body>
</html>

