
<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Heads", required: false)
  <script type="module" crossorigin src="/wwwroot/assets/_Layout.cshtml.c4009d2c.js"></script>
  <link rel="stylesheet" href="/wwwroot/assets/_Layout.cshtml.29e2a0d2.css">
</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", required: false)
    
    
</body>
</html>

