
<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Heads", required: false)
  <script type="module" crossorigin src="~/assets/_Layout.cshtml.9debfbbc.js"></script>
  <link rel="modulepreload" href="~/assets/vendor.e7b5bfbb.js">
  <link rel="stylesheet" href="~/assets/_Layout.cshtml.4465c49e.css">
</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", required: false)
    
</body>
</html>

