/*.header {
  padding: 0 1rem;
  background-color: #66ffff; }

.root {
  height: 100%;
  background-color: wheat; }
*/

section {
  padding: 0.5% 0.5%;
  align-items: stretch;
}

svg {
  height: 100% !important;
  aspect-ratio: 1/1;
}

.material-icons {
  aspect-ratio: 1/1;
}

NavLink {
  height: 100%;
}

.mdc-tab-indicator__content--underline {
  background-color: var(--mdc-theme-primary);
  background-color: red !important;
}

.mdc-icon-button {
  padding: 0.5% !important;
}